beautifulsoup4==4.12.3
googletrans==4.0.0rc1
gTTS==2.5.1
ipython==8.12.3
linkedin_api==2.1.1
matplotlib==3.8.4
numpy==2.0.1
pandas==2.2.2
pdf2image==1.17.0
Pillow==10.4.0
playsound==1.3.0
plotly==5.22.0
protobuf==5.27.2
Requests==2.32.3
seaborn==0.13.2
selenium==4.23.1
SpeechRecognition==3.10.4
streamlit==1.36.0
streamlit_ace==0.1.1
streamlit_extras==0.4.3
streamlit_lottie==0.0.5
streamlit_option_menu==0.3.13
streamlit_shadcn_ui==0.1.18
streamlit_webrtc==0.47.7
youtube_transcript_api==0.6.2
~treamlit==1.35.0
