beautifulsoup4
gTTS
ipython
linkedin_api
matplotlib
numpy
pandas
pdf2image
Pillow
playsound
plotly
protobuf
Requests
seaborn
selenium
SpeechRecognition
streamlit
streamlit_ace
streamlit_extras
streamlit_lottie
streamlit_option_menu
streamlit_shadcn_ui
streamlit_webrtc
youtube_transcript_api
streamlit
